 <div id="users-container">
 	<div id="filters" class="grouped-content">
        <a id='add-user-button' ui-sref="newUser" class="flat-button left-floater">Add User</a>
 		<div id="search-box" class="input-wrapper filter-item left-floater">
	 		<i class="fa fa-search icon-support"></i>
	 		<input class="input-box" ng-model="searchText" placeholder="Search ...">
 		</div>
 		<div id="per-page-box" class="filter-item right-floater">
 		<select id="per-page-select" ng-model="resultsPerPage" ng-options="number for number in perPageResultsOptions"></select> results/page 
 		</div>
 	</div>
    <ul id="users-list" class="noStyle noPadding rowed-list">
        <li class="user-entry grouped-content hover-hand" ng-repeat="user in pagedUsers track by user.id">
            <div ui-sref="showUser({id:user.id})" class="details-container left-floater grouped-content">
            	<img ng-src="images/{{user.photo}}.png" class="user-icon left-floater">
            	<div class="name-container left-floater">
            		<strong>{{user.name}}</strong><span class="support-text"> ({{user.role}})</span>
            		<div class="light-text">DOB - <strong>{{user.dob}}</strong></div>
            		<div class="light-text">Registration Date - <strong>{{user.registration_date}}</strong></div>
            	</div>
            </div>
        <div class="status-container left-floater ng-class:user.status">{{user.status}}</div>
            <div class="actions-container left-floater">
                <span ui-sref="editUser({id:user.id})" class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
                </span>
                <span ng-click="deleteUser(user)" class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                </span>                
            </div>
        </li> 
    </ul>
    <div class="pagination-meta">{{metaString}}</div>
    <ul id="pagination-list" class="noStyle noPadding horizontal-list grouped-content">
    	<li ng-repeat="object in pageObjects track by $index" ng-click="setCurrentPage(object.number)" ng-class="{'current-page': object.active }" >
    		{{object.title}}
    	</li>
    </ul>
</div>