
*{
	//border-box \m/, give hassel free padding and margins !!
	box-sizing: border-box;
}

.noStyle	{	list-style: none !important;	}
.noMargin	{	margin: 0px !important;			}
.noPadding	{	padding: 0px !important;		}
.full-width	{	width: 100%;					}

.grouped-content:before,
.grouped-content:after {
	content:"";
	display:table;
}
.grouped-content:after {
	clear:both;
}

.left-floater{ float: left;}
.right-floater{ float: right;}

h1,h2,h3,h4,h5,h6{
	margin: 0px !important;
}

.absolute-full-ht-wd{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

input,textarea,select{
	//get rid of the old fashioned input styles once and for all !!
	background: white;
	outline: none;
    border-radius: 0.2rem;
    border: 1px solid darkgray;
    transition: all 0.3s ease-in-out;
    &:hover,&:active{
	    border-color: $text-primary;
    }
}

.input-wrapper{
	position: relative;
	.icon-support{
		position: absolute;
		top: 50%;
		left: 0.5rem;
		transform: translateY(-50%);	//vertical centering the icon in its container.
		font-size: 1.5rem;
	}
	.input-box{
		padding: 0.5rem 1rem;
		padding-left: 2.5rem !important;
	}
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all ease-in-out 0.3s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

.hover-hand{
	cursor: pointer;
	cursor: hand;
}

ul.horizontal-list{
	@extend .grouped-content;
	li{
		margin: 0 0.5rem;
		@extend .left-floater;
		&:first-of-type{margin-left: 0}
		&:last-of-type{margin-right: 0}
	}
}

.support-text{ font-size: 0.8em; }
.light-text{ 
	font-size: 0.7em;
	color: $text-primary;
	line-height: 110%;
}


a,a:hover,a:active{
	text-decoration: none;
	color: inherit;
}

.flat-button{
    display: block;
    outline: none;
	background: $text-primary;
	border-radius: 0.2rem;
	padding: 0.5rem 1.5rem;
	text-align: center;
	color: $text-secondary;
    transition: all 0.3s ease-in-out;
    border: 0px;
    &:hover{
		color: $text-secondary;
    }
}


.list{
	padding: 2%;
	background: white;
	border-radius: 2px;
	.list-entry{
		margin-bottom: 0.5rem;
		padding: 0 0 0.5rem 0;
		border-bottom: 1px solid $text-secondary;
		font-size: 1.5rem;
		&:last-of-type{
			margin-bottom: 0px;
			border-bottom: 0px;
		}
		.list-label{
			width: 40%;
			text-align: right;
			color: $disabled;
		}
		.list-value{
			width: 60%;
			padding-left: 5%;
			.status-container{
				width: 50%;
				margin: 0;
				padding: 0;
			}
		}
	}
}