#user-form{
	.list-entry{
		@extend .grouped-content;
		margin-bottom: 1rem;
	}
	.list-value{
		position: relative;
		@include property-responsive(padding-bottom,1.1rem,1.1rem,1rem,1rem,1rem);
		input,select{
			@include property-responsive(width,100%,100%,80%,60%,50%);
			padding: 0.2rem 0.5rem;
			transition: all 0.3s ease-in-out;
		}
		.error-message{
			position: absolute;
			bottom: 0px;
			transition: all 0.3s ease-in-out;
			transform: translateY(-3rem);
			opacity: 0;
			@include property-responsive(font-size,0.8rem,0.8rem,0.7rem,0.7rem,0.7rem);
			&.show-me{
				opacity: 1;
				transform: translateY(0);
			}
		}
		input.ng-dirty.ng-invalid{ border: 1px solid $blocked;}
		input.ng-dirty.ng-valid{ border: 1px solid $active;}
	}
	
	button[disabled]{
		background: $disabled !important;
	}
}