#users-container{
  width: 90%;
  margin-left: 5%;
}

#filters{ 
  margin-bottom: 3%;
}


.filter-item{
  float: left;
  transition: all 0.3s ease-in-out;
}

#per-page-select{ padding: 0.5rem 0.5rem;}
#per-page-box{ width: 20%;}

#search-box{
  margin-right: 1%;
  .input-box{
    width: 70%;
    &:active,&:hover{ width: 100%; }
  }
}

#pagination-list{
  li{
    @extend .hover-hand; 
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
  }
  li.current-page{
    background: gray;
  }
}