#filters{ 
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  .filter-item{ transition: all 0.3s ease-in-out; }
  #search-box{
    width: 40%;
    margin-right: 1%;
    .input-box{
      width: 70%;
      &:active,&:hover{ width: 100%; }
    }
  }
  #per-page-box{ width: 20%;}
  #per-page-select{ padding: 0.5rem 0.5rem;}
}




#pagination-list{
  float: right;
  li{
    @extend .hover-hand; 
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 2px;
  }
  li.current-page{
    background: gray;
  }
}


#user-list-link{
  display: block;
  margin: 1rem 0;
  font-size: 1.1rem;
}

