//We maintain this to allow for quick switching of color schemes.

$background: #ecf0f1;
$foreground-primary: #e84c3d;
$text-primary: #34495e;
$text-secondary: #ecf0f1;

$active: #2ecc71;
$disabled: #abb7b7;
$pending: #f9bf3b;
$blocked: #ef4836;
$text-tertiary: #f2f1ef;

//Variables for media query sizing
$small-max-width:400px;
$medium-min-width:401px;
$medium-max-width:560px;
$large-min-width:561px;
$large-max-width:800px;
$xlarge-min-width:801px;
$xlarge-max-width:1024px;
$xxlarge-min-width:1025px;
