<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#!">Angular Brunch Seed</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="getClass('/todo')"><a href="#/todo" ui-sref="todo()">todo</a></li>
            <li ng-class="getClass('/view')"><a href="#/view" ui-sref="view()">view</a></li>
            <li><button class="btn btn-default navbar-btn" oc-modal-open="{url: 'partials/modal.html', controller: 'ModalCtrl'}">modal</button></li>
        </ul>
    </div>
    <!-- /.nav-collapse -->
</div><!-- /.navbar -->
